.header {
  display: flex;
  flex-direction: column;
  grid-area: header;
  gap: 24px;

  img {
    border-radius: 24px;
  }

  h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    color: var(--text-primary);
  }

  h2 {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    color: var(--text-secundary);
  }

  @media (min-width: 768px) {
    flex-direction: row-reverse;
    align-items: center;

    img {
      border-radius: 50%;
      border: 1px solid white;
    }

    h1 {
      font-size: 36px;
      font-weight: 600;
      line-height: 54px;
    }

    h2 {
      font-size: 30px;
      font-weight: 400;
      line-height: 45px;
    }
  }
}
