.experience {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 24px;

    grid-area: experience;
    
    p {
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: var(--text-secundary);
        text-align: center;
    }

    img {
        filter: grayscale(100%);
    }

    img:hover {
        filter: grayscale(0%);
    }

    .experience-time {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
    }

    .experience-language {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .experience-unit {
        display: flex;
        width: 300px;
        height: 30px;
        border-radius: 24px;
        border: 1px solid var(--text-secundary);

        justify-content: flex-start;
        align-items: center;
    }

    .experience-measure {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 24px;
        height: 30px;
        border: 1px solid  var(--linear-gradient);
        background: var(--linear-gradient);

        color: var(---btn);
        font-weight: 400;
        text-align: center;
        font-size: 12px;

        position: relative;
        z-index: 1;

        &.measure-1 {
            width: 25%;
        }

        &.measure-2 {
            width: 45%;
        }

        &.measure-3 {
            width: 70%;
        }

        &.measure-4 {
            width: 85%;
        }
    }

    .experience-measure::after{
        content: '';
        display: inline-block;
        width: 0;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 24px;
        height: 30px;
        border: 1px solid  var(--linear-gradient);
        background:  #70F570;
        z-index: -1;
        transition: width 0.5s ease-in-out;

    }

    .experience-measure:hover::after{
        width: 100%;
    }
    .experience-measure:hover{
        width: 100%;

        &.measure-1,
        .measure-2,
        .measure-3,
        .measure-4 {
            width: 100%;
        }
        
    }
     

    @media (min-width: 768px) {
        align-items: flex-start;
        p {
            font-size: 24px;
            line-height: 36px;
            text-align: start;
        }
    }
}